body{
    background-color: #ECEEF1;
}
main{
    margin-top: 10%;
    margin-bottom: 10%;
}
form{
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 35%;
    margin-right: 35%;
}
.formContainer{
display: flex;
flex-direction: column;
}
label, p{
    text-align: center;
}
.logo{

    display: flex;
    justify-content: center;
}
#logo{
    width: 118px;
    height: 35px;
}
.icon{
    width: 23px;
    height:23px;
}
.icons{
    display:flex;
    justify-content: center;
}
.text{
    justify-content: baseline;
}
.btn button{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 10px;
    color: #FFFFFF
    font-size: 13.5px;
    border: 1px solid #4c4c4c;
    background-color: #0077C5
    
}