body{
    background-color: #ECEEF1;
}
main{
    margin-top: 5%;
    margin-bottom: 5%;
}
form{
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2.5%;
    padding-bottom: 1%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    border-end-end-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0; 
}
.formContainer{
display: flex;
flex-direction: column;

}
label{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #404040;
}
.logo{

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#logoImage{
    width: 118px;
    height: 35px;
}
.icon{
    display: flex;
    justify-content: space-around;
    width: 23px;
    height:23px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.icons{
    display:flex;
    justify-content: center;   
    
}
.text{
    justify-content: baseline;
    font-size: 20px;
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 18px;
    margin-left: 10px;
    margin-bottom: 20px;
    color:  #737373;
    opacity: 10;
}
.forget{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 130px;
    margin-top: 10px;
    color: #505050;
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.forgetLink{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 130px;
    margin-top: 27px; 
}
.btn button{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 30px;
    margin-top: 10px;
    background-color: #0077C5;
    border: 1px solid #d8d8d8;
    color: #FFFFFF;
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 8px 25px 8px 25px;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
}
.create{
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #4c4c4c;
    font-size: 24px;
    margin: 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
.oneAccount{
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #4c4c4c;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:link {
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #0077C5;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 10px;
    
  }
  button{
      margin-top: 20px;
  }
  .terms{
      text-align: center;
      font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 12px;
      font-style: italic;
      color: #757575;
      margin-top: 45px;
  }
  input{
      height: 28px;
      border-radius: 5px;
      border: 1px solid #d8d8d8;
      margin-bottom: 20px;
  }
  #submit{
      background-color: #0077C5;
      height: 39px;
      border-radius: 5px;
      border: 1px solid #d8d8d8;
      color: #FFFFFF;
      font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;

  }
  footer{
      margin-top: 100px;
  }
  .footerLinks{
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      padding-top: 0px;
  }
  .footerLinks a:link{
    color:#505050;
    margin: 10px;
    
  }

  .captcha{
    color: #8d9096;
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    text-align: center;
    background-color:#ECEEF1;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2.5%;
    padding-bottom: 1%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    border: 1px solid #c7c7c7;
    border-radius: 5px; 
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .captcha a:link{
      font-size: 10px;
  }
  .copy{
      text-align: center;
      font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #505050;
      font-size: 12px;
  }
  .terms{
    text-align: center;
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #505050;
    font-size: 12px;
    margin-top: 5px;
  }

